@model Appointment

@{
    
    Layout = "_Layout";
}

@*@section scripts*@
@*{<script src="/lib/jquery/dist/jquery.min.js"></script>*@
@*    <script type="text/javascript">*@
@*        //makes sure jquery is ready*@
@*        $(document).ready(function () {*@
@*            //finds the input with class of input-validation-error, finds the closest form group and adds class 'in-valid" which outlines input box red*@
@*            $("input.input-validation-error").addClass("is-invalid");*@
@*        });*@
@*$1$    </script>#1#*@
@*}*@



<div class="bg-primary m-1 p-1 text-white"> <h2>Book an Appointment</h2></div>
<hr />
    <div class="col-md-4">
        <form asp-action="MakeBooking" method="post">
@*            validation summary tag helper adds error messages detected by action method*@
@*            "all" shows all errors, "ModelOnly" shows only model level messages (use in conjunction property level span validations, "none" disables the tag helper*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label">Your Name:</label>
                <input asp-for="ClientName" class="form-control"/>
@*                displays property level errors instead of a top of page*@
                                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Appointment Date:</label>
                <input asp-for="Date" class="form-control" asp-format="{0:d}"/>
                                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TermsAccepted" /> I accept the terms & conditions
                        </label>
                    <p><span asp-validation-for="TermsAccepted" class="text-danger"></span></p>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Make Booking" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>



